table {
  margin: auto; }

td {
  font-size: 1em;
  font-family: Monaco, Monospace;
  padding: 1em; }

input[type=text] {
  font-size: inherit;
  border: solid #bbb 1px;
  border-radius: 1%;
  padding: 1em; }

.search {
  width: 15em;
  display: block;
  margin: 2em auto; }

.loader {
  width: 1.5em;
  height: 1.5em;
  border: dashed 3px deeppink;
  border-radius: 50%;
  -webkit-animation: spin 1s infinite;
          animation: spin 1s infinite;
  margin: 20vh auto; }

@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@keyframes spin {
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@media screen and (min-width: 600px) {
  table {
    min-width: 40em; } }

input[type=range] {
  -webkit-appearance: none;
  width: 17em;
  padding: 0; }
  input[type=range]:focus {
    outline: none; }

/* Safari/Chrome */
input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #5e5953;
  width: 17em;
  border-radius: 2em;
  box-shadow: inset 1px 1px #111; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: solid 6px rgba(236, 24, 95, 0.4);
  border-radius: 50%;
  background: #EC185D;
  background-clip: padding-box;
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
  margin-top: -6px; }

/* Firefox */
input[type=range]::-moz-range-track {
  height: 3px;
  background: #5e5953;
  width: 17em;
  border-radius: 2em;
  box-shadow: inset 1px 1px #111; }

input[type=range]::-moz-range-thumb {
  border: solid 6px rgba(236, 24, 95, 0.4);
  border-radius: 50%;
  background: #EC185D;
  background-clip: padding-box;
  cursor: pointer;
  height: .5em;
  width: .5em; }

input[type=range]:-moz-focusring {
  outline: 1px dashed rgba(0, 0, 0, 0.5);
  outline-offset: -1px; }

/* IE */
input[type=range]::-ms-track {
  width: 17em;
  height: 3px;
  background: transparent;
  border-color: transparent;
  border-width: 1em 0;
  padding: 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #5e5953;
  border-radius: 2em;
  box-shadow: inset 1px 1px #111; }

input[type=range]::-ms-fill-upper {
  background: #5e5953;
  border-radius: 2em;
  box-shadow: inset 1px 1px #111; }

input[type=range]::-ms-thumb {
  border: none;
  border: solid 6px rgba(236, 24, 95, 0.4);
  border-radius: 50%;
  background: #EC185D;
  background-clip: padding-box;
  cursor: pointer;
  height: .5em;
  width: .5em; }

input[type=range]::-ms-tooltip {
  display: none; }

.playground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
  .playground section:nth-of-type(2) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 620px) {
      .playground section:nth-of-type(2) {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        height: 70vh; } }
  .playground section:nth-of-type(3) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%; }

button {
  background: transparent;
  border-radius: 5%;
  color: #5e5953;
  cursor: pointer;
  font-weight: 800;
  padding: 1em;
  -webkit-transition: .3s;
  transition: .3s; }

.grid {
  background: -webkit-repeating-linear-gradient(right, transparent 0, transparent 0.9em, #ddd 1em), -webkit-repeating-linear-gradient(transparent 0, transparent 0.9em, #ddd 1em), -webkit-repeating-linear-gradient(right, transparent 0, transparent 9.9em, #aaa 10em), -webkit-repeating-linear-gradient(transparent 0, transparent 9.9em, #aaa 10em);
  background: repeating-linear-gradient(to left, transparent 0, transparent 0.9em, #ddd 1em), repeating-linear-gradient(transparent 0, transparent 0.9em, #ddd 1em), repeating-linear-gradient(to left, transparent 0, transparent 9.9em, #aaa 10em), repeating-linear-gradient(transparent 0, transparent 9.9em, #aaa 10em); }
  .grid .btn-grid {
    color: #c1104a; }

section {
  padding: 1em; }

hr {
  border-color: #4f4842;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }

.react-draggable {
  cursor: move; }

.controls, .code {
  z-index: 2; }

.controls {
  background: #333;
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  font-family: roboto, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative; }
  .controls label {
    color: #e4dcef;
    font-weight: 100; }
  @media screen and (max-width: 420px) {
    .controls {
      -ms-flex-preferred-size: 420px;
          flex-basis: 420px; } }
  @media screen and (max-width: 1200px) {
    .controls {
      height: 80vh; } }

.code {
  background: #e4dcef;
  overflow-x: auto;
  font-size: 14px; }

fieldset {
  border: none;
  margin-top: 1em; }
  fieldset legend {
    color: #ec185d;
    font-size: 14px;
    font-weight: 300; }

.lbl-range, .lbl-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-size: 12px;
  -webkit-transition: all .5s;
  transition: all .5s; }

.lbl-range {
  padding: 1em; }

.lbl-color {
  margin: .5em 1em; }

.lbl-radio {
  font-size: 0.8em;
  padding: .8em; }
  .lbl-radio [type=radio] {
    padding: 0;
    position: absolute;
    clip: rect(0, 0, 0, 0); }
    .lbl-radio [type=radio]:checked + span:after {
      content: '\2713';
      color: #ec185d;
      position: absolute;
      -webkit-transform: translateX(3px);
              transform: translateX(3px); }

/* Collapsing fieldset */
[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0); }
  [type=checkbox]:checked ~ label:not(:first-of-type) {
    -webkit-transform: translateX(40%) scale(0);
            transform: translateX(40%) scale(0); }
  [type=checkbox]:checked ~ hr {
    border: none;
    margin: 0; }
  [type=checkbox]:checked ~ label input,
  [type=checkbox]:checked ~ label:not(:first-of-type),
  [type=checkbox]:checked ~ .radio {
    height: 1px;
    padding: 0;
    margin: 0;
    opacity: 0; }
  [type=checkbox] ~ label:first-of-type:after {
    content: '\25b2';
    cursor: pointer; }
  [type=checkbox]:checked ~ label:first-of-type:after {
    content: '...'; }
  [type=checkbox] + label {
    color: #e4dcef;
    height: 0;
    padding: 0 1em;
    text-align: right;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-transform: translateY(-1.5em);
            transform: translateY(-1.5em); }

.colorstop {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid #ccc 1px; }

.has-tooltip {
  margin: 0; }
  .has-tooltip:after {
    content: attr(data-tip);
    background: rgba(0, 0, 0, 0.8);
    font-family: monospace;
    padding: 1em;
    display: block;
    opacity: 0;
    position: absolute;
    -webkit-transform: translateY(1.8em);
            transform: translateY(1.8em); }
  .has-tooltip:hover:after {
    opacity: 1; }

.layer-container {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0.4em -0.1em #ae96cf; }

.layer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .layer-row button {
    margin: .5em 1em; }

.thumb {
  width: 22px;
  height: 22px;
  margin: 0 2px 2px;
  box-shadow: inset 0 0 0 2px #fff; }
  .thumb.is-active {
    border: dashed #ec185d 1px;
    background-clip: padding-box; }

.btn-save, .layer-row button, .btn-clear {
  border: solid 1px #e4dcef;
  font-size: .8em; }
  .btn-save:hover, .layer-row button:hover, .btn-clear:hover {
    color: #ec185d;
    border-color: #5e5953; }
  .btn-save:focus, .layer-row button:focus, .btn-clear:focus {
    outline: solid 1px #d7cbe7; }

.btn-save {
  background: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 1em; }

.code div {
  text-align: right; }

.btn-clear {
  border: solid 1px #ae96cf;
  margin-bottom: .5em; }

.btn-grid {
  border: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.25em;
  margin-top: .5em; }
  .btn-grid:hover {
    color: #ec185d; }
  .btn-grid:focus {
    outline: dashed 1px #ccc; }

.thumbnails {
  background: #ece7f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.storage {
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: showMeSlowly 1s forwards;
          animation: showMeSlowly 1s forwards;
  margin: 1em; }

@-webkit-keyframes showMeSlowly {
  100% {
    opacity: 1; } }

@keyframes showMeSlowly {
  100% {
    opacity: 1; } }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-size: 16px; }

nav {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 1em;
  box-shadow: 0 1px 1px #e4dcef;
  list-style-type: none; }
  ul li {
    padding: .2em 2em; }
    ul li a {
      text-decoration: none;
      color: #ae96cf;
      font-family: roboto, sans-serif;
      font-size: 0.9em;
      text-transform: uppercase; }
      ul li a:hover {
        color: #9373bf; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh; }
  .flex-container main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }

footer {
  padding: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  footer p {
    font-family: roboto, sans-serif;
    margin: 0;
    text-align: center; }
