<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>'CS Colors'</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/colors.css">
  </head>
</html>
<body>
  <div id="container"></div>
  <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../bower_components/lodash/dist/lodash.min.js"></script>
  <script src="../../bower_components/react/react.min.js"></script>
  <script src="../../bower_components/react/react-dom.min.js"></script>
  <script src="../../bower_components/babel/browser.min.js"></script>
  <script src="../../bower_components/tinycolor/dist/tinycolor-min.js"></script>
  <script src="../../bower_components/axios/dist/axios.min.js"></script>
  <script type="text/babel" src="../js/color-table.js"></script>
</body>