@import 'playground';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

nav {
  flex-shrink: 0;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 1em;
  box-shadow: 0 1px 1px #e4dcef;
  list-style-type: none;
  li {
    padding: .2em 2em;
    a {
      text-decoration: none;
      color: darken($color-light, 20%);
      font-family: roboto, sans-serif;
      font-size: 0.9em;
      text-transform: uppercase;
      &:hover {
        color: darken($color-light, 30%);
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh; // flex items don't care about min-height in IE
  main {
    flex: 1 0 auto;
  }
}

footer {
  padding: 1em;
  flex-shrink: 0;
  p {
    font-family: roboto, sans-serif;
    margin: 0;
    text-align: center;
    div {
      display: inline-block;
      width: 100px;
      height: 200px;
      background: url('../img/makgeolli.png') no-repeat;
    }
  }
}