@import 'variables';
@import 'colors';
@import 'slider';

.playground {
  display: flex;
  //height: 100vh;
  flex-wrap: wrap;
  flex: 1 0 auto;
  section:nth-of-type(2) {
    flex-basis: 40%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 620px) {
      flex-basis: 100%;
      order: -1;
      height: 70vh;
    }
  }
  section:nth-of-type(3) {
    flex: 1 1 30%;
  }
}

button {
  background:transparent;
  border-radius: 5%;
  color: #5e5953;
  cursor: pointer;
  font-weight: 800;
  padding: 1em;
  transition: .3s;
}

.grid {
background:
  repeating-linear-gradient(to left, transparent 0, transparent .9em, #ddd 1em),
  repeating-linear-gradient(transparent 0, transparent .9em, #ddd 1em),
  repeating-linear-gradient(to left, transparent 0, transparent 9.9em, #aaa 10em),
  repeating-linear-gradient(transparent 0, transparent 9.9em, #aaa 10em);
  .btn-grid {
    color: darken($color-main, 10%);;
  }
}

section {
  padding: 1em;
}

hr {
  border-color: #4f4842;
  flex-basis: 100%;
}

.fieldset {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.react-draggable {
  cursor: move;
}

.controls, .code {
  z-index: 2;
}

.controls {
  background: $color-dark;
  flex-basis: 360px;
  font-family: roboto, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  label {
    color: $color-light;
    font-weight: 100;
  }
  @media screen and (max-width: 420px) {
    flex-basis: 420px;
  }
  @media screen and (max-width: 1200px) {
    height: 80vh;
  }
}

.code {
  background: $color-light;
  overflow-x: auto;
  font-size: 14px;
}

fieldset {
  border: none;
  margin-top: 1em;
  legend {
    color: $color-main;
    font-size: 14px;
    font-weight: 300;
  }
}

.lbl-range, .lbl-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //flex-basis: 360px;
  flex: 1 1 100%;
  font-size: 12px;
  transition: all .5s;
}

.lbl-range {
  padding: 1em;
}

.lbl-color {
  margin: .5em 1em;
}

.lbl-radio {
  font-size: 0.8em;
  padding: .8em;
  [type=radio] {
    padding: 0;
    position: absolute;
    clip: rect(0,0,0,0);
    &:checked + span:after {
      content: '\2713';
      color: $color-main;
      position: absolute;
      transform: translateX(3px);
    }
  }
}

/* Collapsing fieldset */
[type=checkbox] {
  position: absolute;
  clip: rect(0,0,0,0);
  &:checked ~ label:not(:first-of-type) {
    transform: translateX(40%) scale(0);
  }
  &:checked ~ hr {
    border: none;
    margin: 0;
  }
  &:checked ~ label input,
  &:checked ~ label:not(:first-of-type),
  &:checked ~ .radio {
    height: 1px; // 0 would make it disappear forever in IE/Edge
    padding: 0;
    margin: 0;
    opacity: 0;
  }
  & ~ label:first-of-type:after {
    content: '\25b2';
    cursor: pointer;
  }
  &:checked ~ label:first-of-type:after {
    content: '...';
  }
  & + label {
    color: $color-light;
    height: 0;
    padding: 0 1em;
    text-align: right;
    flex: 1;
    transform: translateY(-1.5em);
  }
}

.colorstop {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid #ccc 1px;
}

.has-tooltip {
  margin: 0;
  &:after {
    content: attr(data-tip);
    background: rgba(0,0,0,.8);
    font-family: monospace;
    padding: 1em;
    display: block;
    opacity: 0;
    position: absolute;
    transform: translateY(1.8em);

  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.layer-container {
  background:#fff;
  border-radius: 2px;
  box-shadow: 0 0 .4em -0.1em darken($color-light, 20%);
}

.layer-row {
  display: flex;
  align-items: center;
  button {
    margin: .5em 1em;
  }
}

.thumb {
  width: 22px;
  height: 22px;
  margin: 0 2px 2px;
  box-shadow: inset 0 0 0 2px #fff;
  &.is-active {
    border: dashed $color-main 1px;
    background-clip: padding-box;
  }
}

.btn-save, .layer-row button, .btn-clear {
  border: solid 1px $color-light;
  font-size: .8em;
  &:hover {
    color: $color-main;
    border-color: #5e5953;
  }
  &:focus {
    outline: solid 1px darken($color-light, 5%);
  }
}

.btn-save {
  background: #fff;
  align-self: flex-end;
  margin-top: 1em;
}

.code div {
  text-align: right;
}

.btn-clear {
  border: solid 1px darken($color-light, 20%);
  margin-bottom: .5em;
}

.btn-grid {
  border: none;
  align-self: flex-end;
  font-size: 1.25em;
  margin-top: .5em;
  &:hover {
    color: $color-main;
  }
  &:focus {
    outline: dashed 1px #ccc;
  }
}

.thumbnails {
  background: lighten($color-light, 3%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.storage {
  opacity: 0;
  transform: scale(.3);
  animation: showMeSlowly 1s forwards;
  margin: 1em;
}

@keyframes showMeSlowly {
  100% {
    opacity: 1;
  }
}