input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
  margin-top: .5em;
  width: 15em;
  float: right;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: solid 6px hsla(340, 85%, 51%, .4);
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background: #EC185D;
  background-clip: padding-box;
  cursor: pointer;
  position: relative;
  top: -.55em;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background:#5e5953;
  border-radius: 2em;
  box-shadow: inset 1px 1px #111;
  width: 20em;
}
